<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/public/index.css" />
    </head>
    <body>
        <h1>{{.Title}}</h1>

        <div class="gallery images">
            {{range .Photos}}
            <div class="image-item">
                <img src="/img/{{.}}" />
            </div>
            {{end}}
        </div>
        <div id="image-viewer">
            <span class="close">&times;</span>
            <img class="modal-content" id="full-image" />
        </div>

        <script>
            document.querySelectorAll(".images img").forEach(function (e) {
                e.addEventListener("click", function () {
                    document.querySelector("#full-image").src = e.src;
                    document.querySelector("#image-viewer").style.display =
                        "block";
                });
            });

            document
                .querySelector("#image-viewer .close")
                .addEventListener("click", function () {
                    document.querySelector("#image-viewer").style.display =
                        "none";
                });
        </script>
    </body>
</html>
