<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/public/index.css" />
        <script src="/public/index.js" defer></script>
    </head>
    <body>
        <h1>{{.Title}}</h1>
        <p id="last"></p>

        <div class="gallery images">
            {{range $i, $p := .Photos}}
            <img
                id="photo-{{$i}}"
                class="image-item"
                src="/img/preview/{{$p}}"
                loading="lazy"
                alt="Image not found"
            />
            {{end}}
        </div>
        <div id="image-viewer">
            <button class="close">&times;</button>
            <button class="prev">&lang;</button>
            <img class="modal-content" id="full-image" />
            <button class="next">&rang;</button>
        </div>
    </body>
</html>
